<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Zomato Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div *ngIf="dinner" class="home-dinner">
      <div class="home-dinner__inner ion-padding">
        <ion-row>
          <ion-col *ngFor="let res of dinner.restaurants.slice(0,6)">
            <ion-img [src]="res.restaurant['thumb']"></ion-img>
            <div class="card-content">
              <ion-card-title>{{ res.restaurant['name'] }}</ion-card-title>
              <p>{{ res.restaurant['location']['address'] }}</p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>
